.page {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #df0404, #855f74, #2c5e64);
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}


.container {
  width: 550px;
  max-width: 95%;
  padding: 40px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);

  border-radius: 18px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);

  text-align: center;
}


h2 {
  text-align: center;
  margin-bottom: 20px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 14px;

  background: #1e3a8a;
  color: white;
  border: none;
  border-radius: 8px;

  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button[type="submit"]:hover {
  background: #142c6e;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.success {
  color: green;
  text-align: center;
  margin-top: 15px;
}

.error {
  color: #ffdddd;
  font-size: 13px;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;

  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #c40000;
  box-shadow: 0 0 6px rgba(196, 0, 0, 0.3);
}
